@import "../../../var.scss";
nav {
    background-color: #fff !important;
    box-shadow: 1px 3px 3px $light-grey;
}

.title {
    font-size: 38px;
}

.nav-link {
    font-size: 18px;
}

.user-icon {
    border-radius: 100px;
}

.user-menu {
    span {
        font-size: 16px;
        margin-left: 10px;
    }
    .user-menu-dropdown {
        width: 248px;
        position: absolute;
        display: block;
        background-color: #fff;
        z-index: 99990;
    }

    .user-item {
        color: $medium-grey;
        font-size: 14px;
    }
}