@import "../../../var.scss";

header {
    position: fixed;
    z-index: 1000;
    background-color: $white;
    min-width: 100%;
    height: 12%;
    //border-bottom: 2px solid $border-grey;
    box-shadow: 0 1px 10px $medium-grey;
    .title {
        padding: 2%;
    }
    .menu {
        padding: 2% 3%;
        .custom-item {
            margin-left: -200px;
        }

        .active {
            color: $purple;
        }
        .item {
            padding: 10px;
            min-height: 80px;
        }
    }
    .user-profile {
        margin: 3% 20%;
        padding-left: 6%;
        border-left: 1px solid $border-grey;
        .user-icon {
            height: 50px;
            width: auto;
            border-radius: 100px
        }
        .name {
            margin-top: 6%;
            font-size: 14px;
        }
        .function {
            margin-top: -12%;
        }
    }

}