<header>
  <div class="row">
    <div class="col-sm-7">
        <h1 class="title">TinoGC</h1>
    </div>
    <div class="menu">
      <div class="col-sm-1 float-left">
        <a routerLink="/" class="item active"><b>CHAMADOS</b></a>
      </div>
      <div class="col-sm-1 custom-item float-right">
        <a routerLink="/dadosEstatisticos" class="item"><b>RELATORIOS</b></a>
      </div>
    </div>
    <div class="col-sm">
      <div class="user-profile">
        <div class="row">
          <div class="col-sm-4">
              <img class="user-icon" src="../../../assets/images/gibby.png" />
          </div>
          <div class="col-sm">
            <div class="row">
              <div class="col-sm" align="left">
                <p class="strong name">Gibby Icarly</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm function" align="left">
                <small class="light">SUPORTE TÉCNICO</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
