<header>
  <button class="seta"><i class="fas fa-arrow-left"></i></button>
  Adicione Informações.
  <button class="sair"><i class="fas fa-times"></i></button>
</header>
<div class="contem-lista">
  <div class="wrapper-informacao-chamado">
    <label>Informações do chamado</label>
    <div>
      <div class="informacao-label">
        <div class="info">
          Ar condicionado quebrado
        </div>
        <div class="label">
          Motivo
        </div>
      </div>
        <div class="informacao-label">
          <div class="info">
            Sala 105
          </div>
          <div class="label">
            Local
          </div>
        </div>
    </div>
  </div>
  <div class="informacoes-adicionais">
    <label>Informações adicionais</label>
    <div>
      <div class="mais-informacao">
        Mais informações
      </div>
    </div>
    <div class="galeria">
        Galeria
    </div>
  </div>
  <div class="adiciona">
    <button class="adicionar-foto"><i class="fas fa-plus"></i>Adicionar Foto</button>
  </div>
</div>  
<footer>
  ABRIR CHAMADO 
</footer>
