<div class="sidebar">
  <div class="profile-info">
    <div class="row">
      <div class="col-sm-3">
        <img src="../../../assets/images/gibby.png">
      </div>
      <div class="col-sm">
        <span class="medium">Gibby from iCarly</span>
        <br />
        <span class="secondary-font small">SUPORTE TÉCNICO</span>
      </div>
    </div> 
  </div>
  <div class="menu">
    <div class="row">
      <div class="col-sm menu-title">
          <p class="secondary-font legend">MENU</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-sm menu-item when-active">
        <div class="col-sm">
          <img class="thumbnail" src="../../../assets/images/icons/home-active.svg" /> 
          <b class="regular">Início</b>
        </div>
      </div>
    </div>
    <div class="row">
      <a routerLink="/abrirChamado">
        <div class="col-sm menu-item">
          <div class="col-sm">
            <img class="thumbnail" src="../../../assets/images/icons/chamado.svg" /> 
            <b class="regular">Abrir chamado</b>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <a href="">
        <div class="col-sm menu-item">
          <div class="col-sm">
            <img class="thumbnail" src="../../../assets/images/icons/relatorio.svg" /> 
            <b class="regular">Relatórios</b><span><img src="../../../assets/images/icons/down-arrow.svg" /></span>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <a routerLink="dadosEstatisticos">
        <div class="col-sm menu-item">
          <div class="col-sm">
            <img class="thumbnail" src="../../../assets/images/icons/grafico.svg" /> 
            <b class="regular">Estatísticas</b>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>