.login-page {
    width: 100%;
    height: 100%;
    background-color: #ececec;
}

.title-login h1 {
    font-family: 'Wire One', sans-serif;
    text-align: center;
    font-size: 100px !important;
}

.box-login {
    position: absolute;
    background-color: #fff;
    top: 10%;
    left: 35%;
    padding: 4% 2%;
    width: 30%;
    height: auto;
}

.box-login input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-bottom: 2%;
    margin-top: 4%;
    color: #595959;
}

.box-login input:focus, .box-login input:hover {
    background-color: transparent;
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box-login button {
    margin-top: 4%;
}

.recuperar-senha {
    margin-top: 4%;
    text-align: center;
}