@import "../../../var.scss";

.container {
    margin-top: 2%;
    min-width: 100% !important;
    min-height: 100% !important;

    .container-header {
        margin: 0 0 1% 2%;
        min-width: 100%;
        h5 {
            padding-top: 2%;
        }

        input {
            box-shadow: 1px 3px 6px $light-grey;
        }
    }

    .container-body {
        border-top: 1px solid $border-grey;
        .dash {
            border-left: 1px solid $border-grey;
            .dash-desc {
                margin-top: 6%;
                margin-right: 2%;
            }
        }
    }
}