<div class="login-page">
  <form action="dashboard">
    <div class="box-login">
      <div class="row">
        <div class="col-sm title-login">
          <h1>TINO CRM</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Usuário">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
      </div>
      <div class="recuperar-senha">
        <div class="row">
          <div class="col-sm">
            <a href="dashboard">Esqueceu sua senha? Clique aqui para solicitar uma nova!</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>