<div class="card-chamado">
  <header>Computador com defeito</header>
  <div class="corpo">
    <div>
      <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        Sala 220
      </div>
      <div class="info">
        <i class="fas fa-calendar-alt"></i>
        20/02/3043
      </div>
    </div>
    <div class="descricao">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat aliquet lacus, et pharetra eros.
      Aenean non ipsum fermentum, convallis lectus eget, elementum felis.
      Praesent a sapien sit amet purus.
    </div>
  </div>
  <div class="status">
    Visualizado
  </div>
  <footer>
    <div>
      <span>120</span> pessoas apoiam este chamado
    </div>
    <button>Apoiar</button>
  </footer>
</div>