.card-chamado {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 75px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    
    header {
        padding: 15px;
        font-size: 17px;
        font-weight: 700;
        color: black;
    }

    .corpo {
        padding: 0 15px 15px 15px;
        overflow: auto;

        div {
            line-height: 16px;
            font-size: 12px;
            overflow: auto;
            
            .info {
                margin-right: 10px;
                float: left;
                color: #333;
                font-weight: 600;

                i {
                    font-size: 12px;
                    color: #9A5EA4;
                    margin-right: 5px; 
                }
            }
        }

        .descricao {
            margin-top: 15px;
            font-size: 11px;
            color: #666;
        }
    }

    .status {
        padding: 15px;
        font-size: 11px;
        font-weight: 700;
        color: black;
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        text-transform: uppercase;
    }

    footer {
        padding: 0 15px;
        overflow: auto;
        line-height: 40px;

        div {
            font-size: 10px;
            float: left;
            color: #666;

            span {
                font-weight: 700;
            }
        }

        button {
            background-color: white;
            text-transform: uppercase;
            font-weight: 700;
            float: right;
            line-height: 40px;
            color: #9A5EA4;
            border: none;
        }
    }
}
