<div class="sidebar">
    <div class="sidebar-content">
        <div class="row">
            <div class="col-sm">
                <p>Infraestrutura</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="img-thumbnail profile-picture" src="../../../assets/images/profile.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Ochaco Uraraka</p>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="list-group">
                <a href="#">
                    <li class="list-group-item active">
                        ITEM 1
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item">
                        ITEM 2
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item">
                        ITEM 3
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item">
                        ITEM 4
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>