<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
    <div class="row content-resume">
        <div class="col-sm text-left">
            <small>Campus Cristiano Machado I</small>
        </div>
        
        <div class="col-sm text-right">
            <small>Dashboard</small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h5>Titulo tabela 1</h5>
        </div>
        <div class="col-sm">
            <h5>Titulo tabela 2</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table>
                <thead>
                    <tr>
                        <th>protocolo</th>
                        <th>descrição</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#1111</td>
                        <td>Descarga não funciona</td>
                        <td>aguardando análise</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <div class="col-sm">
            <table>
                <thead>
                    <tr>
                        <th>protocolo</th>
                        <th>descrição</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#2222</td>
                        <td>Lâmpada queimada</td>
                        <td>em andamento</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</div>