.sidebar {
    z-index: 9990;
    position: fixed;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 16%);
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #fff;
}

.sidebar-content {
    width: 100% !important;
    height: 100% !important;
    align-items: center !important;
    text-align: center !important;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 2%;
    margin-top: -1%;
}

.sidebar p {
    padding: 2%;
}

.sidebar-menu {
    margin: 5% 0 0 0;
    padding: 0;
    width: 100%;

}

.sidebar-menu .list-group-item, .sidebar-menu .list-group {
    border-radius: 0;
    border: none;
    margin: 0;
    width: 100% !important;
}

.sidebar-menu .active {
    background-color: #dedede;
    border: none;
    font-size: 18px;
}

.sidebar-menu a:hover {
    font-size: 18px !important;
}