@import "../../../var.scss";

.container {
    min-width: 100% !important;
    min-height: 100% !important;

    .container-header {
        margin: 0 0 1% 2%;
        min-width: 100%;
        h5 {
            padding-top: 2%;
        }

        input {
            box-shadow: 1px 3px 6px $light-grey;
        }
    }

    .chamados1, .chamados2 {
        float: left;
        width: 50%;
        margin-top: -6%;
    }

    .container-body {
        .dash {
            border-left: 1px solid $border-grey;
            .dash-desc {
                margin-top: 6%;
                margin-right: 2%;
            }
            .card-wrap {
                margin-top: 2%;
            }

            .more {
                margin: 6% 0 6% 0;
                padding: 2%;
                width: 100%;
                text-align: center;
                border-top: 1px solid $border-grey
            }
        }

        header {
            font-size: 17px;
            font-weight: 700;
            color: black;
        }

        .container-right {
            float: left;
            width: 50%;
            padding: 2% 4%;
            border-left: 1px solid #c7c7c7;
        }

        .container-left {
            float: left;
            width: 50%;
            padding: 2% 4%;
            .chamado-desc {
                margin-top: 30px;
                p {
                    text-align: justify;
                }
            }
            .comentarios {
                border-top: 1px solid #c7c7c7;
                header {
                    margin-top: 10px;
                }
                .user-icon {
                    border-radius: 100px;
                    margin-top: 30px;
                }
                .tip {
                  width: 0px;
                  height: 0px;
                  position: absolute;
                  background: transparent;
                  border: 10px solid #ccc;
                }
                .dialogbox .body {
                  position: relative;
                  max-width: 400px;
                  height: auto;
                  margin: 10px 0;
                  padding: 5px;
                  background-color: #DADADA;
                  border-radius: 3px;
                  border: 5px solid #DADADA;
                }
                .body .message {
                  min-height: 30px;
                  border-radius: 3px;
                  line-height: 1.5;
                  color: #797979;
                }
                .tip-left {
                  top: 10px;
                  left: -25px;
                  border-top-color: transparent;
                  border-left-color: transparent;
                  border-bottom-color: transparent;  
                }
            }
        }
        .container-right {
            label {
                font-size: 14px;
            }
            .form-group {
                margin-top: 20px;
            }
            .slide-container {
                width: 100% !important;
                .slider {
                    -webkit-appearance: none;
                    width: 100% !important;
                    height: 25px;
                    background: #d3d3d3;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
                }
                .slider::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    background: #4CAF50;
                    cursor: pointer;
                }

                .slider::-moz-range-thumb {
                    width: 25px;
                    height: 25px;
                    background: #4CAF50;
                    cursor: pointer;
                }
            }
        }
    }
}