<div class="container">
  <div class="container-header">
    
  </div>
  <div class="container-body">
    <div class="container-left">
      <div class="row">
        <div class="col-sm-9">
          <header>Computador com defeito</header>
        </div>
        <div class="col-sm">
          <header>#123456</header>
        </div>
      </div>
      <div class="row">
        <div class="info col-sm-9">
          <i class="fas fa-map-marker-alt"></i>
          Sala 220
        </div>
        <div class="info col-sm">
          <i class="fas fa-calendar-alt"></i>
          20/02/3043
        </div>
      </div>
      <div class="row">
        <div class="col-sm chamado-desc">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lorem ut est varius tincidunt vel ut ipsum. Nunc finibus ut lacus condimentum imperdiet. Etiam augue massa, semper sed erat nec, lacinia pretium ex. Ut eu finibus augue. Curabitur a leo a dolor vehicula iaculis. Sed sodales leo a lorem consequat, nec fringilla leo hendrerit. Phasellus sed diam venenatis, tempor neque in, vulputate ante. Donec tempor mattis ultricies. Proin rutrum, ligula aliquet convallis venenatis, quam velit auctor tellus, vitae blandit nibh magna et ante. Pellentesque pulvinar massa eu tortor accumsan posuere. Nulla sed rhoncus est. Donec at turpis ultrices neque tempor sollicitudin at non orci. Suspendisse interdum vel mauris in faucibus. Donec semper ornare ante sed rhoncus. Etiam sed tempor turpis. 
        </p>
        </div>
      </div>
      <div class="comentarios">
        <div class="row">
          <div class="col-sm">
            <header>Comentários</header>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <img src="../../../assets/images/gibby.png" width="50" height="50" class="user-icon" alt="">
          </div>
          <div class="col-sm">
            <strong>Gibby Icarly disse:</strong>
             <div class="dialogbox">
              <div class="body">
                <span class="tip tip-left"></span>
                <div class="message">
                  <span>Aliquam viverra rhoncus ultricies. Aliquam ut justo rhoncus, 
                  rutrum ante sed, tempor urna.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <img src="../../../assets/images/regina.jpg" width="50" height="50" class="user-icon" alt="">
          </div>
          <div class="col-sm">
            <strong>Regina George disse:</strong>
            <div class="dialogbox">
              <div class="body">
                <span class="tip tip-left"></span>
                <div class="message">
                  <span>Donec commodo facilisis enim et lobortis. Integer vel 
                  ex volutpat, malesuada massa eu, tempus risus. </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-right">
      <div class="row">
        <div class="col-sm">
          <header>Configurações do chamado</header>
        </div>
      </div>
      <form>
          <div class="form-group row">
            <div class="col-sm-2">
              <label for="statusChamado">Status atual:</label>
            </div>
            <select class="col-sm form-control" id="statusChamado">
              <option>select</option>
            </select>
          </div>
          <div class="form-group row">
            <div class="col-sm-2">
              <label for="prioridadeChamado">Prioridade</label>
            </div>
            <div class="slide-container col-sm">
              <input type="range" min="1" max="100" value="50">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm">
              <label for="obsChamado">Observações gerais:</label>
              <div class="col-sm">
                <textarea class="form-control" rows="7"></textarea>
              </div>
            </div>
          </div>
          <div class="row float-right">
            <button routerLink="/" type="button" class="btn btn-seconary" style="margin-right: 10px">Voltar</button>
            <button routerlink="/" type="button" class="btn btn-primary">Concluído</button>
          </div>
      </form>
    </div>
  </div>
</div>